@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$c-danger: #b20000;
$c-gray-light: #ccc;
$c-light: white;
$c-dark: #333;
$c-black: #000617;
$c-primary: #0dcaf0;
$c-link: #0dcaf0;
$c-link-hover: #009bb4;
$sm: 4px;
$s: 8px;
$m: 12px;
$lg: 16px;
$xl: 20px;
$xxl: 24px;

.t-c {
  text-align: center;
}

.m-sm {
  margin: $sm;
}

.m-s {
  margin: $s;
}

.m-m {
  margin: $m;
}

.m-lg {
  margin: $lg;
}

.m-xl {
  margin: $xl;
}

.m-xxl {
  margin: $xxl;
}


