.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header ul li {
    margin-right: 12px;
}

.header ul li a {
    color: #0dcaf0;
}