body {
  background: #282c34;
  color: aqua;
  font-family: "Roboto", sans-serif;
}

.t-c {
  text-align: center;
}

.p-1 {
  padding: 10px;
}

.m-1 {
  margin: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
